.p-0 {
    padding: 0;
}

.header-container {
    background-color: #f7faff;
}

.header {
    padding: 60px 0 45px 0;    
} 

.header .logo img {
    position: absolute;
    top: -40px;
}

a.menu-link-item {
    display: block;
    text-decoration: none;
    text-align: center;
}

.menu-link-item:hover {
    cursor: pointer;
    border: none;
}

.link-icon {
    min-height: 58px;
    margin-bottom: 8px;
    position: relative;
}

.link-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-link-item .link-icon img.inactive {
    display: block;
}

.menu-link-item .link-icon img.active {
    display: none;
}

.link-text {
    font-family: 'Schoolbell', cursive;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #1e3245;
    text-align: center;
}

.link-hover-line {
    height: 7px;
}

.link-hover-line img {
    display: none;
    margin: 0 auto;
}

.menu-link-item.active img.inactive,
.menu-link-item.current img.inactive{
    display: none;
}

.menu-link-item.active img.active,
.menu-link-item.current img.active{
    display: block;
}

.menu-link-item.active .link-text,
.menu-link-item.current .link-text{
    color: #76bddd;
}

.menu-link-item.active .link-hover-line img,
.menu-link-item.current .link-hover-line img{
    display: block;
}

.header-wave-separator {
    -webkit-transform: rotate(180deg);     
    -moz-transform: rotate(180deg);        
    -o-transform: rotate(180deg);          
    -ms-transform: rotate(180deg);         
    transform: rotate(180deg);
}

.header-wave-separator img {
    width: 100%;
    position: relative;
    bottom: -10px;
}

.slider-container {
    padding: 35px 0 70px 0;
}

.slick-slide:focus {
    outline: none;
}

.slick-next.slick-arrow {
    position: absolute;
    top: 0;
    right: 0;
}

.slick-arrow {
    display: none !important;
}

.slide-title {
    font-family: 'Schoolbell', cursive;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #76bddd; 
    text-transform: uppercase;
    margin: 35px 0;
}

.slide-text {
    font-family: 'Delius', cursive;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #1e3245;
    margin-bottom: 35px;
}

.slide-order-btn {
    display: inline-block;
    font-family: 'Delius', cursive;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
    background-color: #76bddd;
    text-transform: uppercase;
    padding: 10px 40px;
    float: right;
}

.slide-order-btn:hover {
    cursor: pointer;
}

.portfolio-container {
    margin-bottom: 90px;
}

.portfolio-title-container {
    text-align: center;
    margin-bottom: 30px;
}

.portfolio-title-container .title-text {
    display: inline-block;
    font-family: 'Schoolbell', cursive;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #76bddd;
}

.portfolio-item-wrapper {
    margin-bottom: 25px;
}

.portfolio-item {
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.24);
    padding: 6px 8px 15px 8px;
}

.portfolio-item .item-img img {
    width: 100%;
}

.portfolio-item .item-title {
    text-align: center;
}

.portfolio-item .item-title .button {
    font-family: 'Delius', cursive;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
    background-color: #76bddd;
    text-transform: uppercase;
    padding: 5px 0;
    width: 100%;
    margin-top: 15px;
    display: none;
}

.portfolio-item .item-title .button:hover {
    cursor: pointer;
}

.portfolio-item .item-title-text {
    display: inline-block;
    font-family: 'Delius', cursive;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #4e6a84;
    margin-top: 15px;
}

.portfolio-wave-separator img {
    width: 100%;
    position: relative;
    top: 10px;
}

.footer-container {
    background-color: #f7faff;
    padding: 50px 0;
}

.footer-item-title {
    background: url(../images/footer%20ribbon.svg);
    height: 35px;
    text-align: center;
    max-width: 195px;
    font-family: 'Delius', cursive;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
    line-height: 35px;
    margin-bottom: 25px;
}

.contact-us-item,
.about-cookies-item {
    margin-bottom: 10px;
}

.contact-us-item-logo,
.about-cookies-item-logo {
    margin-right: 5px;
}

.contact-us-item-text,
.about-cookies-item-text { 
    font-family: 'Delius', cursive;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #1e3245;
}

.follow-us-items img {
    margin-right: 20px;
}

.follow-us-items img:hover {
    cursor: pointer;
}