.p-0 {
    padding: 0;
}

nav>.container-fluid {
    background-color: #f7faff;
}

.header-container {
    background-color: #f7faff;
}

.header {
    padding: 60px 0 45px 0;    
} 

.header .logo img {
    position: absolute;
    top: -40px;
}

a.menu-link-item {
    display: block;
    text-decoration: none;
    text-align: center;
}

.menu-link-item:hover {
    cursor: pointer;
    border: none;
}

.link-icon {
    min-height: 58px;
    margin-bottom: 8px;
    position: relative;
}

.link-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-link-item .link-icon img.inactive {
    display: block;
}

.menu-link-item .link-icon img.active {
    display: none;
}

.link-text {
    font-family: 'Schoolbell', cursive;
    font-size: 24px;
    color: #1e3245;
    text-align: center;
}

.link-hover-line {
    height: 7px;
}

.link-hover-line img {
    display: none;
    margin: 0 auto;
}

.menu-link-item.active img.inactive,
.menu-link-item.current img.inactive{
    display: none;
}

.menu-link-item.active img.active,
.menu-link-item.current img.active{
    display: block;
}

.menu-link-item.active .link-text,
.menu-link-item.current .link-text{
    color: #76bddd;
}

.menu-link-item.active .link-hover-line img,
.menu-link-item.current .link-hover-line img{
    display: block;
}

.header-wave-separator {
    -webkit-transform: rotate(180deg);     
    -moz-transform: rotate(180deg);        
    -o-transform: rotate(180deg);          
    -ms-transform: rotate(180deg);         
    transform: rotate(180deg);
}

.header-wave-separator img {
    width: 100%;
    position: relative;
    bottom: -10px;
}

.slider-container {
    padding: 35px 0 70px 0;
}

.slick-slide:focus {
    outline: none;
}

.slick-arrow {
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    font-size: 0;
    position: absolute;
}

.slick-arrow:focus {
    outline: none;
}

.slick-prev.slick-arrow {
    left: -40px;
    background: url(../images/left%20arrow.svg);
}

.slick-next.slick-arrow {
    right: -40px;
    background: url(../images/right%20arrow.svg);
}

.slide img {
    width: 100%;
}

.slide-title {
    font-family: 'Schoolbell', cursive;
    font-size: 24px;
    color: #76bddd; 
    text-transform: uppercase;
    margin: 35px 0;
}

.slide-text,
.about-li-text,
.testimonial-item-text {
    font-family: 'Delius', cursive;
    font-size: 20px;
    color: #1e3245;
    margin-bottom: 35px;
}

.about-li-text,
.testimonial-item-text {
    margin-bottom: 0;
}

.slide-order-btn {
    display: inline-block;
    font-family: 'Delius', cursive;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #76bddd;
    text-transform: uppercase;
    padding: 10px 40px;
    float: right;
}

.slide-order-btn:hover {
    cursor: pointer;
}

.portfolio-container {
    margin-bottom: 90px;
}

.portfolio-title-container {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 15px;
}

.portfolio-title-container img,
.testimonials-title img,
.about-li-title img {
    width: 40%;
    position: relative;
    top: 20px;
}

.about-li-title img {
    width: 29%;
}

.about-li-title.me img {
    width: 40%;
}

.portfolio-title-container img.left,
.testimonials-title img.left,
.about-li-title img.left {
    float: left;
}

.portfolio-title-container img.right,
.testimonials-title img.right,
.about-li-title img.right {
    float: right;
}

.portfolio-title-container .title-text,
.about-li-title,
.testimonials-title {
    font-family: 'Schoolbell', cursive;
    font-size: 36px;
    color: #76bddd;
    text-align: center;
}

.about-li-title {
    margin-bottom: 45px;
}

.testimonials-title {
    margin-top: 70px;
    margin-bottom: 40px;
}

.portfolio-item-wrapper {
    margin-bottom: 25px;
}

.portfolio-item {
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.24);
    padding: 6px 8px 15px 8px;
}

.portfolio-item .item-img img {
    width: 100%;
}

.portfolio-item .item-title {
    text-align: center;
}

.portfolio-item .item-title .button {
    font-family: 'Delius', cursive;
    font-size: 17px;
    text-align: center;
    color: #ffffff;
    background-color: #76bddd;
    text-transform: uppercase;
    padding: 5px 0;
    width: 100%;
    margin-top: 15px;
    display: none;
}

.portfolio-item .item-title .button:hover {
    cursor: pointer;
}

.portfolio-item .item-title img {
    position: relative;
    top: 27px;
    width: 21%;
}

.portfolio-item .item-title img.left {
    float: left;
}

.portfolio-item .item-title img.right {
    float: right;
}

.portfolio-item .item-title-text {
    display: inline-block;
    font-family: 'Delius', cursive;
    font-size: 24px;
    color: #4e6a84;
    margin-top: 15px;
}

.footer-wave-separator img {
    width: 100%;
    position: relative;
    top: 10px;
}

.footer-container {
    background-color: #f7faff;
    padding: 50px 0;
}

.footer-item-title {
    background: url(../images/footer%20ribbon.svg);
    height: 35px;
    text-align: center;
    max-width: 195px;
    font-family: 'Delius', cursive;
    font-size: 14px;
    color: #ffffff;
    line-height: 35px;
    margin-bottom: 25px;
}

.contact-us-item,
.about-cookies-item {
    margin-bottom: 10px;
}

.contact-us-item-logo,
.about-cookies-item-logo {
    margin-right: 5px;
}

.contact-us-item-text,
.about-cookies-item-text { 
    font-family: 'Delius', cursive;
    font-size: 14px;
    color: #1e3245;
}

.follow-us-items img {
    margin-right: 20px;
}

.follow-us-items img:hover {
    cursor: pointer;
}

/*************************** ABOUT ****************************/
.main-about-container ul {
    list-style-type: none;
    margin-top: 40px;
    padding-left: 0;
}

.main-about-container ul li {
    display: block;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.21);
    padding: 35px 45px 70px 45px;
    margin-bottom: 35px;
}

.main-about-container ul li.last {
    margin-bottom: 100px;
}

.about-li-img {
/*    border: solid 14px #ffffff;*/
/*    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.24);*/
}

.about-li-img img {
    width: 100%;
}

.about-li-text {
    padding-left: 30px;
}

/*************************** TESTIMONIALS ****************************/
.main-testimonials-container ul {
    list-style-type: none;
    padding-left: 0;
}

.main-testimonials-container ul li {
    display: block;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.21);
    padding: 35px 0 105px 0;
    margin-bottom: 30px;
    border-left: solid 7px #9bd9f5;
}

.main-testimonials-container ul li.last {
    margin-bottom: 100px;
}

.quote-container {
    position: relative;
}

.quote-top, 
.quote-bottom {
    position: absolute
}

.quote-top {
    left: 30px;    
}

.quote-bottom {
    right: 50px;
    bottom: -50px
}

.testimonial-item-photo {
    display: inline-block;
    margin-right: 35px;
    margin-bottom: 35px;
    vertical-align: bottom;
/*    border: solid 1px #704014;*/
/*    border-radius: 50%;*/
}

.testimonial-item-name {
    display: inline-block;
    font-family: 'Delius', cursive;
    font-size: 30px;
    color: #1e3245;
    vertical-align: top;
}

.testimonial-item-name span {
    display: inline-block;
    margin-top: 20px;
}

.navbar-brand {
    display: none;
}



/************************** MEDIA QUERIES *****************************/

@media screen and (max-width: 767px) {
    .header {
        padding: 0;
    }
    
    .navbar {
        margin-bottom: 0;
    }
    
    nav>.container-fluid,
    .container-fluid>.navbar-header,
    .navbar-default .navbar-collapse {
        background-color: #f7faff;
    }
    
    .navbar-default .navbar-brand {
        display: block;
        padding: 2px 5px;
    }
    
    .navbar-default .navbar-brand>img {
        width: 40px;
    }
    
    .logo {
        display: none;
    }
    
    .link-icon {
        min-height: auto;
    }
    
    .link-icon img {
        display: none !important;
    }
    
    .link-hover-line img {
        position: relative;
        bottom: 5px;
    }
    
    .slider-container {
        padding-top: 0;
    }
    
    .slick-prev.slick-arrow {
        left: 0;
    }
    
    .slick-next.slick-arrow {
        right: 0;
    }
    
    .portfolio-title-container img, 
    .testimonials-title img, 
    .about-li-title img {
        width: 20%;
    }
    
    .portfolio-container {
        margin-bottom: 0;
    }
    
    .slide-content-wrapper {
        padding: 0 30px;
    }
    
    .slide-title {
        margin: 10px 0;
    }
    
    .footer-container {
        padding: 20px 0;
    }
    
    .footer {
        text-align: center;
    }
    
    .footer-item-title {
        display: inline-block;
        width: 195px;
        margin: 15px 0 10px 0;
    }
}