<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Testimonials</title>
    <link rel="shortcut icon" type="image/png" href="images/2%20Bubbies%20cookies-1%20(no_bgr).png"/>
    
    <link href="https://fonts.googleapis.com/css?family=Schoolbell" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Delius" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
</head>

<body> 
    <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html"><span class="logo-text">2<span class="blue-text">Bubbies</span>Cookies</span></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <div class="row header-container">
                    <div class="col-sm-12 header">
                        <div class="col-sm-5 menu-links">
                            <a href= "/" class="col-sm-4 menu-link-item">
                                <div class="link-icon">
                                    <img class="inactive" src="images/home_inactive.svg" alt="">
                                    <img class="active" src="images/home_active.svg" alt="">
                                </div>
                                <div class="link-text">Home</div>
                                <div class="link-hover-line">
                                    <img src="images/home,about,order_wave.svg" alt="">
                                </div>
                            </a>
                            <a href="/about" class="col-sm-4 menu-link-item">
                                <div class="link-icon">
                                    <img class="inactive" src="images/about_inactive.svg" alt="">
                                    <img class="active" src="images/about_active.svg" alt="">
                                </div>
                                <div class="link-text">About</div>
                                <div class="link-hover-line">
                                    <img src="images/home,about,order_wave.svg" alt="">
                                </div>
                            </a>
                            <a href="/testimonials" class="col-sm-4 menu-link-item p-0 current">
                                <div class="link-icon">
                                    <img class="inactive" src="images/testimonials_inactive.svg" alt="">
                                    <img class="active" src="images/testimonials_active.svg" alt="">
                                </div>
                                <div class="link-text">Testimonials</div>
                                <div class="link-hover-line">
                                    <img src="images/testimonials_wave.svg" alt="">
                                </div>
                            </a>
                        </div>
                        <a href="/" class="col-sm-2 logo">
                            <img src="images/2%20Bubbies%20cookies-1%20(no_bgr).svg" alt="">
                        </a>
                        <div class="col-sm-5 menu-links">
                            <a href="/portfolio" class="col-sm-4 menu-link-item">
                                <div class="link-icon">
                                    <img class="inactive" src="images/portfolio_inactive.svg" alt="">
                                    <img class="active" src="images/portfolio_active.svg" alt="">
                                </div>
                                <div class="link-text">Portfolio</div>
                                <div class="link-hover-line">
                                    <img src="images/portfolio_wave.svg" alt="">
                                </div>
                            </a>
                            <a href="/order" class="col-sm-4 menu-link-item">
                                <div class="link-icon">
                                    <img class="inactive" src="images/corporate_inactive.svg" alt="">
                                    <img class="active" src="images/corporate_active.svg" alt="">
                                </div>
                                <div class="link-text">Corporate</div>
                                <div class="link-hover-line">
                                    <img src="images/corporate_wave.svg" alt="">
                                </div>
                            </a>
                            <a href="/order" class="col-sm-4 menu-link-item">
                                <div class="link-icon">
                                    <img class="inactive" src="images/order_inactive.svg" alt="">
                                    <img class="active" src="images/order_active.svg" alt="">
                                </div>
                                <div class="link-text">Order</div>
                                <div class="link-hover-line">
                                    <img src="images/home,about,order_wave.svg" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="header-wave-separator">
                <img src="images/blue%20wave.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row main-testimonials-container">
            <div class="col-md-12">
                <div class="testimonials-title">
                <img class="left" src="images/Title_border_left.svg" alt="">
                Testimonials
                <img class="right" src="images/Title_border_right.svg" alt=""></div>
                <ul>
                    <li>
                        <div class="row quote-container">
                            <img class="quote-top" src="images/quote1.svg" alt="">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="testimonial-item-data-wrapper">
                                    <div class="testimonial-item-header">
                                        
                                        <div class="testimonial-item-photo">
                                            <img src="images/ava1.png" alt="">
                                        </div>
                                        <div class="testimonial-item-name">
                                            <span>Silvana T.</span>
                                            <br>
                                            <span>“The cookies were a huge hit”</span>
                                        </div>
                                    </div>
                                    <div class="testimonial-item-text">
                                        Cheryl, Very happy with everything. The cookies were a huge hit (especially with the teachers!) Veda had a great birthday and she told me bringing in cookies made her feel extra special in class. They tasted awesome, and will definitely keep you information for future cookies. I'll also pass along your info to friends who loved my idea &amp; your cookies! Thanks!
                                    </div>
                                </div>
                            </div>
                            <img class="quote-bottom" src="images/quote2.svg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="row quote-container">
                            <img class="quote-top" src="images/quote1.svg" alt="">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="testimonial-item-data-wrapper">
                                    <div class="testimonial-item-header">
                                        
                                        <div class="testimonial-item-photo">
                                            <img src="images/ava2.png" alt="">
                                        </div>
                                        <div class="testimonial-item-name">
                                            <span>Lynda V.</span>
                                            <br>
                                            <span>“Best cookies ever”</span>
                                        </div>
                                    </div>
                                    <div class="testimonial-item-text">
                                        Just wanted to thank you for the "40"cookies you created for my sister’s 40th Birthday Party. They were a hit. Everyone loved them especially my sister! Thank you again!
                                    </div>
                                </div>
                            </div>
                            <img class="quote-bottom" src="images/quote2.svg" alt="">
                        </div>
                    </li>
                    <li class="last">
                        <div class="row quote-container">
                            <img class="quote-top" src="images/quote1.svg" alt="">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="testimonial-item-data-wrapper">
                                    <div class="testimonial-item-header">
                                        
                                        <div class="testimonial-item-photo">
                                            <img src="images/ava3.png" alt="">
                                        </div>
                                        <div class="testimonial-item-name">
                                            <span>Silvana T.</span>
                                            <br>
                                            <span>“The cookies were a huge hit”</span>
                                        </div>
                                    </div>
                                    <div class="testimonial-item-text">
                                        Cheryl, Very happy with everything. The cookies were a huge hit (especially with the teachers!) Veda had a great birthday and she told me bringing in cookies made her feel extra special in class. They tasted awesome, and will definitely keep you information for future cookies. I'll also pass along your info to friends who loved my idea &amp; your cookies! Thanks!
                                    </div>
                                </div>
                            </div>
                            <img class="quote-bottom" src="images/quote2.svg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="footer-wave-separator">
                <img src="images/blue%20wave.png" alt="">
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="container">
            <div class="row footer-container">
                <div class="col-md-12 footer">
                    <div class="col-sm-3 hidden-xs">
                        <a href="/">
                            <img class="footerLogo" src="images/2%20Bubbies%20cookies-1%20(no_bgr).svg" alt="">
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer-item">
                            <div class="footer-item-title">Contact us</div>
                            <div class="contact-us-items">
                                <div class="contact-us-item">
                                    <span class="contact-us-item-logo"><img src="images/email.svg" alt=""></span>
                                    <span class="contact-us-item-text">info@2bubbiescookies.com</span>
                                </div>
                                <div class="contact-us-item">
                                    <span class="contact-us-item-logo"><img src="images/phone.svg" alt=""></span>
                                    <span class="contact-us-item-text">1-541-754-3010</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        <div class="footer-item">
                            <div class="footer-item-title">About cookies</div>
                            <div class="about-cookies-items">
                                <div class="about-cookies-item">
                                    <span class="about-cookies-item-logo"><img src="images/ingredients.svg" alt=""></span>
                                    <span class="about-cookies-item-text">Ingredients</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer-item">
                            <div class="footer-item-title">Follow us</div>
                            <div class="follow-us-items">
                                <img src="images/facebook.svg" alt="">
                                <img src="images/google+.svg" alt="">
                                <img src="images/twitter.svg" alt="">
                                <img src="images/linked_in.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js" defer></script>
    <script src="js/scripts.js" defer></script>
</body>

</html>