.p-0 {
    padding: 0;
}

nav>.container-fluid {
    background-color: #f7faff;
}

.header-container {
    background-color: #f7faff;
}

.header {
    padding: 60px 0 45px 0;    
} 

.header .logo img {
    position: absolute;
    top: -40px;
    max-width: 185px;
}

.menu-links {
    padding: 0;
}

a.menu-link-item {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0;
}

.menu-link-item:hover {
    cursor: pointer;
    border: none;
}

.link-icon {
    min-height: 58px;
    margin-bottom: 8px;
    position: relative;
}

.link-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-link-item .link-icon img.inactive {
    display: block;
}

.menu-link-item .link-icon img.active {
    display: none;
}

.link-text {
    font-family: 'Schoolbell', cursive;
    font-size: 24px;
    color: #1e3245;
    text-align: center;
}

.link-hover-line {
    height: 7px;
}

.link-hover-line img {
    display: none;
    margin: 0 auto;
}

.menu-link-item.active img.inactive,
.menu-link-item.current img.inactive{
    display: none;
}

.menu-link-item.active img.active,
.menu-link-item.current img.active{
    display: block;
}

.menu-link-item.active .link-text,
.menu-link-item.current .link-text{
    color: #76bddd;
}

.menu-link-item.active .link-hover-line img,
.menu-link-item.current .link-hover-line img{
    display: block;
}

.header-wave-separator {
    -webkit-transform: rotate(180deg);     
    -moz-transform: rotate(180deg);        
    -o-transform: rotate(180deg);          
    -ms-transform: rotate(180deg);         
    transform: rotate(180deg);
}

.header-wave-separator img {
    width: 100%;
    position: relative;
    bottom: -40px;
}

.slider-container {
    padding: 35px 0 70px 0;
}

.slick-slide:focus {
    outline: none;
}

.slick-arrow {
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    font-size: 0;
    position: absolute;
}

.slick-arrow:focus {
    outline: none;
}

.slick-prev.slick-arrow {
    left: -33px;
    background: url(../images/left%20arrow.svg);
}

.slick-next.slick-arrow {
    right: -33px;
    background: url(../images/right%20arrow.svg);
}

.slide img {
    width: 100%;
}

.slide-title {
    font-family: 'Schoolbell', cursive;
    font-size: 24px;
    color: #76bddd; 
    text-transform: uppercase;
    margin: 35px 0;
}

.slide-text,
.about-li-text,
.testimonial-item-text {
    font-family: 'Delius', cursive;
    font-size: 20px;
    color: #1e3245;
    margin-bottom: 35px;
}

.about-li-text,
.testimonial-item-text {
    margin-bottom: 0;
}

a.slide-order-btn {
    display: inline-block;
    font-family: 'Delius', cursive;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #76bddd;
    text-transform: uppercase;
    padding: 10px 40px;
    float: right;
    text-decoration: none;
}

a.slide-order-btn:hover {
    cursor: pointer;
    text-decoration: none;
}

.portfolio-container {
    margin-bottom: 90px;
}

.portfolio-title-container {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 15px;
}

.portfolio-title-container img,
.testimonials-title img,
.portfolio-title img,
.about-li-title img {
    width: 40%;
    position: relative;
    top: 20px;
}

.testimonials-title img,
 {
    width: 35%;
}

.about-li-title img {
    width: 29%;
}

.about-li-title.me img {
    width: 40%;
}

.portfolio-title-container img.left,
.testimonials-title img.left,
.portfolio-title img.left,
.about-li-title img.left {
    float: left;
}

.portfolio-title-container img.right,
.testimonials-title img.right,
.portfolio-title img.right,
.about-li-title img.right {
    float: right;
}

.portfolio-title-container .title-text,
.about-li-title,
.testimonials-title,
.form-title,
.portfolio-title {
    font-family: 'Schoolbell', cursive;
    font-size: 36px;
    color: #76bddd;
    text-align: center;
}

.about-li-title {
    margin-bottom: 45px;
}

.testimonials-title,
.portfolio-title {
    margin-top: 70px;
    margin-bottom: 40px;
}

.form-title {
    margin-bottom: 30px;
}

.portfolio-item-wrapper {
    margin-bottom: 25px;
}

.portfolio-item {
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.24);
    padding: 6px 8px 15px 8px;
}

.portfolio-item:hover {
    cursor: pointer;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.24);
}

.portfolio-item .item-img img {
    width: 100%;
}

.portfolio-item .item-title {
    text-align: center;
}

.portfolio-item .item-title .button,
.portfolio-card .footer .button {
    display: block;
    font-family: 'Delius', cursive;
    font-size: 17px;
    text-align: center;
    color: #ffffff;
    background-color: #76bddd;
    text-transform: uppercase;
    padding: 5px 0;
    width: 100%;
    margin-top: 15px;
    display: none;
}

.portfolio-card .footer .button {
    margin: -3px 0;
}

.portfolio-item .item-title .button:hover,
.portfolio-card .footer .button:hover {
    cursor: pointer;
    text-decoration: none;
}

.portfolio-item .item-title img {
    position: relative;
    top: 27px;
    width: 21%;
}

.portfolio-item .item-title img.left {
    float: left;
}

.portfolio-item .item-title img.right {
    float: right;
}

.portfolio-item .item-title-text {
    display: inline-block;
    font-family: 'Delius', cursive;
    font-size: 24px;
    color: #4e6a84;
    margin-top: 15px;
}

.footer-wave-separator img {
    width: 100%;
    position: relative;
    top: 10px;
}

.footer-wrapper,
.navbar-default{
    background-color: #f7faff;
}

.footer-container {
    background-color: #f7faff;
    padding: 50px 0;
}

.footerLogo {
    width: 120px;
}

.footer-item-title {
    background: url(../images/footer%20ribbon.svg);
    height: 35px;
    text-align: center;
    max-width: 195px;
    font-family: 'Delius', cursive;
    font-size: 14px;
    color: #ffffff;
    line-height: 35px;
    margin-bottom: 25px;
}

.contact-us-item,
.about-cookies-item {
    margin-bottom: 10px;
}

.contact-us-item-logo,
.about-cookies-item-logo {
    margin-right: 5px;
}

.contact-us-item-text,
.about-cookies-item-text { 
    font-family: 'Delius', cursive;
    font-size: 14px;
    color: #1e3245;
}

.follow-us-items img {
    margin-right: 19px;
}

.follow-us-items img:hover {
    cursor: pointer;
}

/*************************** ABOUT ****************************/
.main-about-container ul {
    list-style-type: none;
    margin-top: 40px;
    padding-left: 15px;
}

.main-about-container ul li {
    display: block;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.21);
    padding: 35px 45px 70px 45px;
    margin-bottom: 35px;
    border-left: solid 7px #9bd9f5;
}

.main-about-container ul li.last {
    margin-bottom: 100px;
}

.about-li-img {
/*    border: solid 14px #ffffff;*/
/*    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.24);*/
}

.about-li-img img {
    width: 100%;
}

.about-li-text {
    padding-left: 30px;
}

/*************************** TESTIMONIALS ****************************/
.main-testimonials-container ul {
    list-style-type: none;
    padding-left: 15px;
}

.main-testimonials-container ul li {
    display: block;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.21);
    padding: 35px 0 105px 0;
    margin-bottom: 30px;
    border-left: solid 7px #9bd9f5;
}

.main-testimonials-container ul li.last {
    margin-bottom: 100px;
}

.quote-container {
    position: relative;
}

.quote-top, 
.quote-bottom {
    position: absolute
}

.quote-top {
    left: 30px;    
}

.quote-bottom {
    right: 50px;
    bottom: -50px
}

.testimonial-item-photo {
    display: inline-block;
    margin-right: 35px;
    margin-bottom: 35px;
    vertical-align: bottom;
/*    border: solid 1px #704014;*/
/*    border-radius: 50%;*/
}

.testimonial-item-name {
    display: inline-block;
    font-family: 'Delius', cursive;
    font-size: 30px;
    color: #1e3245;
    vertical-align: top;
}

.testimonial-item-name span {
    display: inline-block;
    margin-top: 20px;
}

.navbar-brand {
    display: none;
}

/************************** PORTFOLIO *****************************/

.main-portfolio-container {
    margin-bottom: 90px;
}

.portfolio-menu {
    border: solid 7px #9bd9f5;
    border-radius: 5px;
    list-style: none;
    padding: 10px 25px 10px 15px;
}

.portfolio-menu li {
    font-family: 'Delius', cursive;
    font-size: 24px;
    color: #1e3245;
    padding: 8px 15px;
    border-bottom: dashed 2px #f0f0f0;
}

.portfolio-menu li.last {
    border: none;
}

.portfolio-menu li:hover {
    cursor: pointer;
    background: url(../images/menu-item-ribbon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.portfolio-menu li.current {
    background: url(../images/menu-item-ribbon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main-portfolio-container .portfolio-card {
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.24);
    margin-bottom: 30px;
}

.main-portfolio-container .portfolio-card .header {
    font-family: 'Delius', cursive;
    font-size: 14px;
    text-align: center;
    color: #4e6a84;
    padding: 15px 35px 7px 35px;
    border-bottom: solid 1px rgba(30, 50, 69, 0.1); 
}

.main-portfolio-container .portfolio-card .body {
    padding: 5px 8px 0 8px;
    border-bottom: solid 1px rgba(30, 50, 69, 0.1);
}

.main-portfolio-container .portfolio-card .body img {
    width: 100%;
    border-radius: 6px;
}

.main-portfolio-container .portfolio-card .body .text {
    display: inline-block;
    font-family: 'Delius', cursive;
    font-size: 12px;
    color: rgba(30, 50, 69, 0.57);
    padding: 15px 0;
}

.main-portfolio-container .portfolio-card .footer {
    padding: 14px 8px;
    font-family: 'Delius', cursive;
    font-size: 20px;
    text-align: right;
    color: #1e3245;
}

/************************** ORDER *****************************/

.form {
    padding: 35px 0 0 0;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.21);
    margin: 10px 0 110px 0;
}

form .body {
    padding: 0 60px;
}

form .footer {
    padding: 40px 60px 45px 60px;
    margin-top: 45px;
    border-top: solid 1px rgba(30, 50, 69, 0.15);
    position: relative;
}

.form .inputLabel {
    font-family: 'Delius', cursive;
    font-size: 20px;
    color: #1e3245;
    margin: 15px 0;
}

.form .inputLabel.first {
    margin-top: 0;
}

.form input,
.form textarea {
    width: 100%;
    background-color: #f6faff;
    border: solid 1px #bec6d3;
    font-family: 'Delius', cursive;
    font-size: 20px;
    color: #a2a7af;
    padding: 8px 15px;
    resize: none;
}

.form input[type=date] {
    padding-right: 0;
}

.form input:focus,
.form textarea:focus {
    outline-color: #76bddd;
}

.form #cancelBtn:focus,
.form #sendBtn:focus {
    outline: none;
}

.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.no-spin::-webkit-calendar-picker-indicator {
    padding: 0;
    padding-right: 5px;
}

.no-spin::-webkit-clear-button {
    padding: 0;
    margin-left: -20px;
}

.fileInputLabel {
    display: inline-block;
    margin-right: 10px !important;
}

.form input[type=file] {
    display: none;
}

.inputfile + label {
    display: inline-block;
    font-family: 'Delius', cursive;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border: solid 2px #76bddd;
    background-color: #76bddd;
    padding: 2px 10px;
    border-radius: 6px;
}

.inputfile + label:hover {
    cursor: pointer;
}

.form #cancelBtn {
    font-family: 'Delius', cursive;
    font-size: 18px;
    text-align: center;
    color: #76bddd;
    border: solid 2px #76bddd;
    background-color: #fff;
    text-transform: uppercase;
    width: 100%;
    padding: 8px 15px;
}

.form #sendBtn {
    font-family: 'Delius', cursive;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: solid 2px #76bddd;
    background-color: #76bddd;
    text-transform: uppercase;   
    width: 100%;
    padding: 8px 15px;
}

#msg {
    padding: 0 15px;
    color: #76bddd;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}

/************************** MEDIA QUERIES *****************************/

@media screen and (max-width: 1200px) {
    .logo img {
        width: 100%;
        top: -20px;
    }
    
    .about-li-title img {
        width: 23%;
    }
    
    .about-li-title.me img {
        width: 35%;
    }
    
    .portfolio-item .item-title img {
        top: 31px;
        width: 14%;
    }
    .header-wave-separator img {
        bottom: -30px;
    }
}

@media screen and (max-width: 992px) {
    .portfolio-title-container img {
        width: 30%;
    } 
    
    .about-li-title img {
        width: 17%;
    }
    
    .portfolio-item .item-title img {
        top: 28px;
        width: 15%;
    }
    
    .testimonials-title img,
    .portfolio-title img{
        width: 25%;
    }
    
    .portfolio-menu li {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    
    .header {
        padding: 0;
    }
    
    .navbar {
        margin-bottom: 0;
    }
    
    nav>.container-fluid,
    .container-fluid>.navbar-header,
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-toggle:focus, 
    .navbar-default .navbar-toggle:hover {
        background-color: #f7faff;
    }
    
    .navbar-default .navbar-brand {
        display: block;
        padding: 0 0 0 10px;
    }
    
    .logo-text {
        font-family: 'Schoolbell', cursive;
        font-size: 24px;
        line-height: 50px;
        color: #1e3245; 
    }

    .blue-text {
        color: #76bddd; 
}
    
    .logo {
        display: none;
    }
    
    .link-icon {
        min-height: auto;
    }
    
    .link-icon img {
        display: none !important;
    }
    
    .link-hover-line img {
        position: relative;
        bottom: 5px;
    }
    
    .header-wave-separator img {
        bottom: -10px;
    }
    
    .slider-container {
        padding-top: 0;
    }
    
    .slick-prev.slick-arrow {
        left: 0;
    }
    
    .slick-next.slick-arrow {
        right: 0;
    }
    
    .portfolio-title-container img, 
    .testimonials-title img, 
    .portfolio-title img,
    .about-li-title img {
        width: 20%;
    }
    
    .about-li-title img {
        width: 13%;
    }
    
    .about-li-title.me img {
        width: 20%;
    }
    
    .portfolio-item .item-title img {
        width: 21%;
        top: 25px;
    }
    
    .portfolio-container {
        margin-bottom: 0;
    }
    
    .slide-content-wrapper {
        padding: 0 30px;
    }
    
    .slide-title {
        margin: 10px 0;
    }
    
    .slide-order-btn {
        display: block;
        float: none;
    }
    
    .footer-container {
        padding: 20px 0;
    }
    
    .footerLogo {
        width: 120px;
    }
    
    .footer {
        text-align: center;
    }
    
    .footer-item-title {
        display: inline-block;
        width: 195px;
        margin: 15px 0 10px 0;
    }
    
    .about-li-title {
        margin-bottom: 10px;
    }
    
    .about-li-img {
        margin-bottom: 10px;
    }
    
    .about-li-text {
        padding-left: 0;
    }
    
    .main-about-container ul {
        margin-top: 10px;
    }
    
    .main-about-container ul li {
        padding: 10px;
    }
    
    .main-about-container ul li.last,
    .main-portfolio-container {
        margin-bottom: 20px;
    }
    
    .main-testimonials-container ul li {
        margin: 20px 0;
    }
    
    .main-testimonials-container ul li.last {
        margin-bottom: 20px;
    }
    
    .testimonials-title img,
    .portfolio-title img {
        width: 16%;
    }
    
    .testimonials-title,
    .portfolio-title {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .testimonial-item-data-wrapper {
        padding: 0 20px;
    }
    
    .testimonial-item-photo {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        margin-right: 0;
    }
    
    .testimonial-item-name span {
        margin-top: 0;
    }
    
    .testimonial-item-text {
        margin-top: 20px;
    }
    
    .form {
        padding-top: 10px;
        margin-bottom: 20px;
    }
    
    form .body {
        padding: 0 10px;
    }
    
    form .footer {
        padding: 20px 10px;
        margin-top: 10px;
    }
    
    #cancelBtn {
        margin-bottom: 20px;
    }
    
    .main-about-container ul,
    .main-testimonials-container ul {
        padding-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .about-li-title img {
        display: none;
    }
}